.section1 {
    padding: 0.625rem 3rem;
    margin-top: 9.375rem;
    flex-direction: column-reverse;
    &__image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        text-align: center;
        h1 {
            line-height: 1.5;
            font-size: 2.8125em;
			margin: 2.5rem 0 2.5rem 0;
            padding: 0 0.625rem;
        }

        p {
            font-size: 1.5625em;
            padding: 0 2.3125rem;
            line-height: 1.5;
        }
    }
    
    &__input {
        border: 1px solid $darkBlue;
		font-size: 1.3125em;
		padding: 1.875rem 0.9375rem;
        border-radius: 5px;
    }
    
    &__button {
        border-radius: 5px;
		font-size: 1.3125em;
		max-width: 100%;
		margin-top: 1.875rem;
		padding: 1.875rem 3.75rem;
    }

}

.section2::before {
    content: '';
	background-size: cover;
	background-position: top center;
	position: absolute;
	top: -5rem;
	left: 0;
	height: 5rem;
	width: 100%;
    background-image: url('/images/bg-curve-mobile.svg');
}

.section2 {
    padding: 6.25rem 3rem 9.375rem 3rem;
	margin-top: 15.625rem;
	flex-direction: column-reverse;
    background-color: $lightGrayishBlue;
    position: relative;

    &__image {
        margin-bottom: 10.625rem;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        margin-right: 0;
        font-size: 1.5em;
        h2 {
            margin-bottom: 4.375rem;
			text-align: center;
        }

        p {
            margin-bottom: 3.125rem;
            padding: 0 2.5rem 0 2.5rem;
        }

        .green {
            display: inline-block;
			text-align: center;
			width: 100%;

            a {
                border-bottom: 2px solid $moderateCyan;
                &:hover {
                color: $activelink;
                border-bottom: 2px solid $activelink;
                }
            }

        }

        .testimonial {
            margin: 0 2.9375rem;
            margin-top: 4.375rem;
            padding: 3.125rem;
			height: auto;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
            .testimonial-text {
                font-size: 1.1875em;
	            line-height: 1.7;
                margin: 1.875rem 0;
                padding: 0;
                
                
            }

            .user {

                &__image {
                    img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    margin-right: 0.9375rem;
                    }
                }

                &__info {
                    h4 {
                        margin: 0;
                        font-size: 0.875em;
                    }

                    small {
                        font-size: 0.625em;
                    }
                }
            }
        }
    }

}

.section3 {
    padding: 7.5rem 3rem;
    color: #fff;
    background-color: $desaturatedBlue;
    min-height: 20rem;
    flex-direction: column;

    &__email {
        margin: 0 7.8125rem;
        input {
            border: none;
            padding: 1.5625rem 1.25rem;
            border-radius: 3px;
        }
    
        button {
            padding: 1.5625rem 0;
            margin-top: 1.5625rem;
            border-radius: 3px;
        }

    }

    &__text {
        text-align: center;
        h2 {
            margin: 0;
            font-size: 1.875em;
        }

        p {
            color: $lightGrayishBlue;
            margin: 2.8125rem 4.375rem;
            font-size: 1.5625em;
        }
    }
}